#three{
background-color:gainsboro;
text-align:center;
color:black;
height:50px;
width:500px;
margin-left:300px;
}

#ilef{
margin-left:20px;
height:250px;
width:550px;

float:left;

}

#irht{
height:250px;
width:550px;
margin-left:40px;

float:right;
}